@import 'variables';
@import 'mixins';

.sidebar-data {
  h4 {
    color: $dark-green;
    font-family: $monospace;
    text-transform: lowercase;
    margin: 8px 0;
    padding: 8px 0;
    font-size: 0.9em;
  }
  p {
    margin: 8px 0;
    padding: 0;
  }
  border-radius: 3px;
  margin-bottom: 32px;
  padding: 0 16px 16px 16px;
  @include themeable(color, theme-secondary-color, $dark-medium-gray);
  .mod-action-button {
    padding: 2px 9px;
    font-size: 1.2em;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
  }
}

.daily-stats {
  margin: 8px 0;
  padding: 0;
  h4 {
    color: $dark-green;
    font-family: $monospace;
    text-transform: lowercase;
    font-size: 0.9em;
    padding: 8px 0;
  }
}
